canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.title {
    background-image: linear-gradient(to top, #83abda, rgb(22, 53, 138));
    margin-bottom: 0.5rem;
    line-height: 44px;
    padding: 0.5rem;
    color: whitesmoke;
    font-weight: bold;
}

#day,#month, #year {
    margin-right: 0.5rem;
}

#chart {
    margin: 0.5rem 1.25rem;
    border: 1px solid #d2d0d0;
    border-radius: 5px;
    /*width: 500px;*/
    background-color: white;
    padding: 0.5rem;
    /*box-shadow: 5px 5px 8px #888888;*/
}

.chart {
    margin: 0.5rem;
    border: 1px solid #d2d0d0;
    border-radius: 5px;
    /*width: 550px;*/
    background-color: white;
    /*padding: 0.5rem;*/
}

.event {
    display: flex;
    justify-content: flex-end;

}
