body {
    font-family: "Roboto";
}

.card-header-new {
    background-image: linear-gradient(to top, rgb(22 ,138, 106), #28a745);
    color: whitesmoke;
}
.body-content{
    padding: 2% 3% 3% 3%;
}
.form-group{
    margin-bottom: 0.5rem !important;
}
.create{
    margin-bottom: 2%;
}
.content-required {
    color: red;
}

td p {
    margin: 0px;
}

tr p {
    margin: 0px;
}

.small-p {
    color: gray;
    font-size: 14px;
}

.form-group-left {
    float: left;
    width: 78%;
}

.form-group-right {
    float: right;
    width: 20%;
}
.button_{
    margin-left: 0.25rem;
}
/*.custom-select{*/
/*    height: auto;*/
/*}*/



